<div class="section-{{ section.id }} container px-4 px-md-1 "  >
{% if section.blocks.size > 0 %}
  {% for block in section.blocks %}
    {% if block.type == 'block-quote' %}
      {% include 'block-quote', type: 'block' %}
    {% elsif block.type == 'two-column-content' %}
      {% include 'two-column-content', type: 'block' %}
    {% endif %}
  {% endfor %}
{% endif %}
</div>

<style>
  .section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;    
  }
  .section-{{ object.id }} .title-container p  {
    font-size : 15px;
    min-height : 15px;
    margin-bottom : 0px;
  }
  .section-{{ object.id }} .title-container ul {
    padding-left: 30px;
  }
</style>
{% schema %}
{
  "name": "Info Content",
  "max_blocks": 10,
  "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "label": "Top spacing",
        "min": 0,
        "max": 80,
        "default": 20,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Bottom spacing",
        "default": 0,
        "min": 0,
        "max": 80,
        "unit": "px"
      }
  ],
  "blocks": [
    {
      "type": "block-quote",
      "name": "Block Quote",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "HOW WE HELP"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "<p>We are dedicated to sharing our knowledge on traditional techniques and materials.</p>"
        }
      ]
    },
    {
      "type": "two-column-content",
      "name": "Two Column Content",
      "settings": [
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image1"
        },
        {
          "type": "text",
          "id": "heading1",
          "label": "Heading 1",
          "default": "ARCHITECHTS, INTERIOR DESIGNERS & BUILDERS"
        },
        {
          "type": "richtext",
          "id": "content1",
          "label" : "Content 1",
          "default": "<p>Content 1</p>"
        },
        {
          "type": "text",
          "id": "buttonText1",
          "label": "Button Text 1",
          "default": "ENQUIRE NOW"
        },
        {
          "type": "text",
          "id": "buttonUrl1",
          "label": "Button Url 1",
          "default": "/"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image2"
        },
        {
          "type": "text",
          "id": "heading2",
          "label": "Heading 2",
          "default": "DIY CLIENTS"
        },
        {
          "type": "richtext",
          "id": "content2",
          "label" : "Content 2",
          "default": "<p>Content 2</p>"
        },
        {
          "type": "text",
          "id": "buttonText2",
          "label": "Button Text 2",
          "default": "SHOP NOW"
        },
        {
          "type": "text",
          "id": "buttonUrl2",
          "label": "Button Url 2",
          "default": "/"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Info Content",
    "settings": {
    },
    "blocks": [
      {
        "type": "block-quote",
        "settings": {
        }
      },
      {
        "type": "two-column-content",
        "settings": {
        }
      }
    ]
    }
  ]
}
{% endschema %}
